/*******************************
  Font Defaults
*******************************/
@font-face {
    font-family: 'Bahnschrift';
    src: url('../fonts/Bahnschrift/Bahnschrift.eot');
    src: url('../fonts/Bahnschrift/Bahnschrift.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bahnschrift/Bahnschrift.svg#Bahnschrift') format('svg'),
        url('../fonts/Bahnschrift/Bahnschrift.ttf') format('truetype'),
        url('../fonts/Bahnschrift/Bahnschrift.woff') format('woff'),
        url('../fonts/Bahnschrift/Bahnschrift.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$body-background: #365794;
$section-background-0: #161616;
$section-backgorund-1: #FFFFFF;
$section-backgorund-2: #F5F5F5;

/***************************
Global
***************************/
* {
    font-family: 'Bahnschrift';
    margin: 0;
    padding: 0;
}

body {
    background: $body-background;

    .section {
        padding: 24px 8px 84px 8px;
    }

    .main-section:nth-child(odd) {
        background-color: $section-backgorund-1;
    }

    .main-section:nth-child(even) {
        background-color: $section-backgorund-2;
    }

    .container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 77vw;
    }
}
/***************************
Basic Info
***************************/
#basic-info {
    position: relative;
    box-shadow: 0 1vw 0 rgba($color: #fff, $alpha: 0.1);
    background-size: 6vw 6vw;
    background-image:
        linear-gradient(to right, rgba($color: #FFF, $alpha: 0.05) .1vw, transparent .1vw),
        linear-gradient(to bottom, rgba($color: #FFF, $alpha: 0.05) .1vw, transparent .1vw);
    padding: 0;
    background-color: rgba($color: #000, $alpha: 0.2);
    height: 42vw;
}

#basic-info-container {
    position: relative;
    display: block;
    height: 100%;

    #map-svg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 70%;
        fill: #6c9;
        &:hover {
            fill: #6c9;
            stroke: rgb(115, 214, 155);
            stroke-width: 0.8%;
            stroke-linecap: inherit;
        }
    }

    #svg-hurricane-1 {
        position: absolute;
        right: 33%;
        top: 80%;
        width: 5%;
        animation: spin linear 1s infinite;
    }
    h1{
        color: white;
        float: right;
        padding: 1.5vw 0;
        font-size: 8vw;
        margin: 0;
        text-shadow: 0 .5vw 0 rgba($color: #000, $alpha: 0.2);;

        span {
            color: #66CC99;
            text-shadow: .5vw 0 0 #44AA77;
        }
    }
}

#banner-content-container {
    position: absolute;
    right: 0;
    bottom: 15%;
    color: white;

    h2 {
        padding: 0 1vw;
        font-size: 6vw;
        line-height: 3vw;
        text-align: justify;
        color: #66CC99;
        text-shadow: 0 .3vw 0 #44AA77;
        &:first-of-type{
            border-bottom: .15vw solid white;
        }
        &:last-of-type{
            border-top: .15vw solid white;
        }
        span {
            line-height: 5vw;
            font-size: 2.2vw;
            color: white;
            text-shadow: none;
        }
    }
}
@keyframes spin { 
    100% { 
        transform: rotate(360deg);
    }
}
/***************************
Overview
***************************/
#overview {
    z-index: -1;
    position: relative;
    background-color: $body-background;
    padding-top: 12px;
}

#overview-container {
}

/***************************
General Science
***************************/
#general-science {
    background-color: #53b2f7;
    color: #FFFFFF;
}

/***************************
Maria Science
***************************/
#maria-science {
    background-color: #FFFFFF;
}

/***************************
Population
***************************/
#population {
    background-color: #3FA9F5;
    color: #FFFFFF;
}

/***************************
Economy
***************************/
#economy {
    background-color: #FFFFFF;
}

/***************************
Statistics
***************************/
#statistics {
    background-color: #3FA9F5;
    color: #FFFFFF;
}

/***************************
Sources
***************************/
#sources {
    background-color: #333333;
    color: #FFFFFF;
}